<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head') %>
    <title>Document</title>
</head>
<body>
      <!--HEADER-->
<%- include('../partials/header') %>
    <h2>Formulario Producto</h2>

      <!-- FOOTER -->
<%- include('../partials/footer') %>
</body>
</html>