<!DOCTYPE html>
<html lang="en">

<!--==========================
            HEAD
============================-->
<head>
    <%-include('../partials/head') %>
    <!--Enlazando con el css styles_products-->
    <link rel="stylesheet" href="/css/styles-productCreate.css">
    <title>Products</title>
</head>

<!--==========================
            BODY
============================-->
<body>
  <!--HEADER-->
  <%- include('../partials/header') %>
    <!--==========================
        BORDE ENTRE HEADER Y MAIN
    ============================-->      
    <div class="space-between-header-main">
    </div>
   
<!--==========================
           MAIN
============================--> 


<main>
<section>
<!--CONTENEDOR DE TODO EL FORMULARIO-->
  <div class="cajaPrincipal">
    <h2>CREAR PRODUCTO</h2>
    <!--LINEA BAJO EL TEXTO-->
    <hr color="#edafa4">
    <form action="./create" method="POST" enctype="multipart/form-data">
        <div class="forlularios">
            <!--CONTENEDOR NOMBRE DEL PRODUCTO-->
            <div class="cajaName">
              <label for="name" class="nombreProd">Nombre del producto:</label>
              <input type="text" id="name" name="name" placeholder="Ej: orquidea" class="form-cajaName">
            </div>
            <!--CONTENEDOR CATEGORIA-->
            <div class="cajaCategory">
              <label for="category" class="categoriaProd">Categoría:</label>
              <select name="category" id="category" class="form-cajaCategory">
                <option value="" selected>Elegir tipo planta </option>
                <option value=1>Planta de interior</option>
                <option value=2>Planta de exterior</option>
              </select>
            </div>   
            <!--CONTENEDOR CAPACIDAD-->
            <div class="cajaCapacity">
              <label for="capacity" class="capasidadProd">Maceta:</label>
              <select name="capacity" id="capacity" class="form-cajaSection">
                <option value="" selected>Elegir la maceta</option>
                <option value=1>10</option>
                <option value=2>20</option>
                <option value=3>30</option>
              </select>
            </div>
            <!--CONTENEDOR PRECIO-->
            <div class="cajaPrice">
              <label for="price" class="precioProd">Precio del producto $:</label>
              <input type="text" id="price" name="price" placeholder="Ej: 2220 " class="form-cajaPrice">
            </div>
            <!--CONTENEDOR DESCUENTO-->
            <div class="cajaDiscount">
              <label for="discount" class="descuProd">Descuento %:</label>
              <select name="discount" id="discount" class="form-cajaDiscount">
                <option value="" selected>Elegir un descuento</option>
                <option value=1>10</option>
                <option value=2>15</option>
                <option value=3>20</option>
              </select>
            </div>
            <!--CONTENEDOR SECCION-->
            <div class="cajaSection">
              <label for="section" class="seccionProd">Sección:</label>
              <select name="section" id="section" class="form-cajaSection">
                <option value="" selected>Elegí</option>
                <option value=1>Producto en oferta</option>
                <option value=2>Producto destacado</option>
              </select>
            </div>
            <!--CONTENEDOR DESCRIPCION DEL PRODUCTO-->
            <div class="cajaDescription">
              <label for="description" class="descripcionProd">Descripción del producto:</label>
              <textarea name="description" id="description" class="area-cajaDescription"></textarea>
            </div>
        </div>
        <!--BOTON AGREGAR IMAGEN-->
        <div class="formulImg">
          <h2>Vista previa</h2>
          <div class="grid">
            <div class="form-element">
              <input type="file" id="file-1" accept="image/*" name="image1">
              <label for="file-1" id="file-1-preview">
                <img name="image" src="/img/upload-image.png" alt="">
                <div>
                  <span>+</span>
                </div>
              </label>
            </div>
            <div class="form-element">
              <input type="file" id="file-2" accept="image/*">
              <label for="file-2" id="file-2-preview">
                <img name="image" src="/img/upload-image.png" alt="">
                <div>
                  <span>+</span>
                </div>
              </label>
            </div>
          </div>
        </div>
        <!--BOTON AGREGAR PRODUCTO-->
        <div class="cajaAgregar">
          <p id="texto">Guardar producto</p>
          <button type="submit" class="botonAgregar"></button>
        </div>
    </form>
  </div>

</section>
</main>
<!--SECCION JS-->
<script>
  function previewBeforeUpload(id){
  document.querySelector("#"+id).addEventListener("change",function(e){
    if(e.target.files.length == 0){
      return;
    }
    let file = e.target.files[0];
    let url = URL.createObjectURL(file);
    document.querySelector("#"+id+"-preview div").innerText = file.name;
    document.querySelector("#"+id+"-preview img").src = url;
  });
}

previewBeforeUpload("file-1");
previewBeforeUpload("file-2");
</script>

      <!-- FOOTER -->
<%- include('../partials/footer') %>
</body>
</html>