<!DOCTYPE html>
<html lang="en">
<head>
'<%-include('./partials/head') %>
    <title>Document</title>
</head>
<body>
      <!--HEADER-->
  <%- include('./partials/header') %>
    <h2>Acerca de nosotros</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus corporis minus ad dolor voluptatibus quam neque molestiae vitae officia ratione alias tenetur, fugiat error, suscipit dolores ullam dolorem? Voluptatum, autem.</p>

    <!--FOOTER-->
  <%- include('./partials/footer') %>

</body>
</html>