<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="/css/styles-checkout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <!--==================================================
        Iconos Fontawesome
    ===================================================-->

    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="main-header-top-bar">
            <img src="/images/sunflowerLogo.png" alt="logo sunflower">
        </div>
    </header>

    <div class="space-between-header-main">
    </div>
    <!----------------- MAIN ------------------->


    <main>

        <div class="title-checkout">
            <h3>Checkout</h3>
        </div>
        <div class="info-contact">
            <p>Información de contacto:</p>
        </div>

        <div class="individual-box2">
            <input type="email" name="user box" placeholder="E-mail:">
        </div>

        <div class="account">
            <p>¿Ya tienes una cuenta?</p>
        </div>
        <div class="login">
            <a href="#" continuar="continuar">Login</a>
        </div>
        <div class="container">

            <form autocomplete="on">
                <div>
                    <div class="method-delivery">
                        <p>Metodo de envio</p>
                    </div>
                    <div class="input-delivery">
                        <input type="radio" id="Delivery" name="Delivery" value="Delivery" checked>
                        <label for="delivery"><i class="fas fa-truck"></i> Delivery</label>
                        <input type="radio" id="Retiro en tienda" name="Retiro en tienda" value="Retiro en tienda">
                        <label for="retiro-en-tienda"><i class="fas fa-store"></i> Retiro en tienda</label>
                    </div>

                    <div class="address-delivery">
                        <p>Dirección de envío:</p>
                    </div>
                    <div class="individual-box">
                        <input type="name" name="nombre" placeholder="Nombre:">
                    </div>
                    <div class="individual-box">
                        <input type="last-name" name="apellido" placeholder="Apellido:">
                    </div>
                    <div class="individual-box">
                        <input type="address" name="direccion" placeholder="Dirección:">
                    </div>
                    <div class="individual-box">
                        <input type="city" name="ciudad" placeholder="Ciudad:">
                    </div>
                    <div class="individual-box">
                        <input type="country" name="pais" placeholder="País:">
                    </div>
                    <div class="individual-box">
                        <input type="cp" name="cp" placeholder="Codigo Postal:">
                    </div>
                    <div class="individual-box">
                        <input type="phone" name="telefono" placeholder="Télefono:">
                    </div>
                </div>

            </form>
        </div>

        <div class="cart-detail">
            <h3>Detalle de la compra</h3>
        </div>

        <div class="content">
            <div class="items">
                <div class="items-img">
                    <img src="/img/IMG_4795-2_2048x2048.jpg" alt="" srcset="">
                </div>
                <div class="items-desc">
                    <div>
                        <p><strong>Plantita</strong></p>
                    </div>
                    <div>
                        <p><strong>1.733.00$</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="total">
            <div class="subtotal">
                <hr>
                <h2>Subtotal:</h2>
                <hr>
            </div>
            <div class="cost_delivery">
                <hr>
                <h2>Costo de envio:</h2>
                <hr>
            </div>
            <div class="total_final">
                <hr>
                <h2>Total:</h2>
                <hr>
            </div>
            <div>
                <button class="box-send">Comprar</button>
                <button class="box-send1">Regresar</button>
            </div>
        </div>

    </main>
    <!--==========================
           FOOTER
============================-->
    <footer>
        <section>
            <span class="icon-footer"><i class="fas fa-credit-card"></i></span>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p class="body-pie">Con Sunflower Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <span class="icon-footer"><i class="fas fa-gift"></i></span>
            <h3>Envío gratis desde $ 2.500</h3>
            <p class="body-pie">Solo por estar registrad@ en Sunflower tenés envíos gratis en miles de productos. Es un beneficio de Sunflower Puntos.</p>
        </section>
        <section>
            <span class="icon-footer"><i class="fas fa-user-shield"></i></span>
            <h3>Seguridad, de principio a fin</h3>
            <p class="body-pie">¿No te gusta? ¡Devolvelo! En Sunflower, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section class="pie-footer">
            <p class="body-pie">Copyright © 2021-2021 Sunflower</p>
        </section>
    </footer>

</body>

</html>