<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('./partials/head') %>
  <link rel="stylesheet" href="/css/styles-index.css" />
    <title>Vivero Sunflower</title>
</head>

<body> 
  <!--HEADER-->
  <%- include('./partials/header') %>
<!--==========================
       BORDE ENTRE HEADER Y MAIN
    ============================-->      

    <div class="space-between-header-main">

    </div>

    <!--CONTENEDOR DE LAS IMAGENES DEL CARRUSEL-->
  <div class="slider">
      <ul>
          <li><img src="/img/balcon-flores.jpeg" alt=""></li>
          <li><img src="/img/plantauno.jpg" alt=""></li>
          <li><img src="/img/plantados.jpg" alt=""></li>
          <!-- <li><img src="/img/plantatres.jpg" alt=""></li> -->
          <li><img src="/img/plantacuatro.jpg" alt=""></li>
      </ul>
  </div>
  <!--ACA TERMINA EL CONTENEDOR DE LAS IMAGENES DEL CARRUSEL-->

<main>
  <div>       
      <h1 class="copy">Conectate con la naturaleza</h1>
      <p class="frase">"El amor por la jardinería es una semilla que una vez sembrada nunca muere."</p>
      <p class="autora-frase">Gertrude Jekyll</p>
  </div>

  <!--Sección Destacados-->
<h2 class="productos-destacados">Productos destacados</h2>
  <section class="destacados">
  <div class="cuatro-articulos">
    <div class="dos-articulos">
    <div class="producto-destacado">
     <article>
       <img src="/img/geranio.png">
       <div class="articulo-pie">
         <p class="nombre-planta">Geranio</p>
         <p class="nombre-cienti">Pelargonium peltatum</p>
         <p class="precio">$470</p>
       </div>
     </article>
    </div>

    <div class="producto-destacado">
      <article>
        <img src="/img/sanseviera.png">
        <div class="articulo-pie">
          <p class="nombre-planta">Sanseviera</p>
          <p class="nombre-cienti">Dracaena trifasciata</p>
          <p class="precio">$750</p>
        </div>
      </article>
     </div>
    </div>

    <div class="dos-articulos">
     <div class="producto-destacado">
      <article>
        <img src="/img/oxalis.png">
        <div class="articulo-pie">
          <p class="nombre-planta">Oxalis rubra</p>
          <p class="nombre-cienti">Oxalis corniculata</p>
          <p class="precio">$580</p>
        </div>
      </article>
     </div>

     <div class="producto-destacado">
      <article>
        <img src="/img/erica.png">
        <div class="articulo-pie">
          <p class="nombre-planta">Erica</p>
          <p class="nombre-cienti">Cuphea hyssopifolia</p>
          <p class="precio">$160</p>
        </div>
      </article>
     </div>
     </div>
    </div>
  </section>
    <!--Ofertas-->
  <h2 class="productos-destacados">Ofertas</h2>
  <section class="destacados">
    <div class="cuatro-articulos">
      <div class="dos-articulos">
      <div class="producto-destacado">
       <article>
         <img src="/img/lavanda.png">
         <div class="articulo-pie">
           <p class="nombre-planta">Lavanda</p>
           <p class="nombre-cienti">Lavanda dentata</p>
           <p class="precio">$490</p>
         </div>
       </article>
      </div>
  
      <div class="producto-destacado">
        <article>
          <img src="/img/orquidea.png">
          <div class="articulo-pie">
            <p class="nombre-planta">Orquídea</p>
            <p class="nombre-cienti">Orquídea phalaenopsis</p>
            <p class="precio">$4800</p>
          </div>
        </article>
       </div>
      </div>
  
      <div class="dos-articulos">
       <div class="producto-destacado">
        <article>
          <img src="/img/begonia.png">
          <div class="articulo-pie">
            <p class="nombre-planta">Flor de azúcar</p>
            <p class="nombre-cienti">Begonia semperflorens</p>
            <p class="precio">$140</p>
          </div>
        </article>
       </div>
  
       <div class="producto-destacado">
        <article>
          <img src="/img/bambu.png">
          <div class="articulo-pie">
            <p class="nombre-planta">Caña de Bambú</p>
            <p class="nombre-cienti">Bambussa spp.</p>
            <p class="precio">$650</p>
          </div>
        </article>
       </div>
       </div>
      </div>
    </section>
    <!--Última seccion-->
    <section>
      <div class="container-ultimo">
       <div class="camion-envio">
        <i class="fas fa-truck"></i>
         <p>Envíos área metropolitana</p>     
      </div>
      <div class="pago-en-linea">
        <img src="/img/pago.png">
          <p class="pago-texto">Pago en línea</p>
      </div>
      <div class="cambios">
        <i class="fas fa-exchange-alt"></i>
          <p>Cambios y garantías</p>
      </div>
      <div class="compra-segura">
        <i class="fas fa-shield-alt"></i>
          <p>Compra segura</p>
      </div>
    </div>
    </section>
</main>
          <!-- FOOTER -->
<%- include('./partials/footer') %>

</body>

</html>