<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunflower</title>
    <link rel="stylesheet" href="/css/styles-login.css"/>    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="main-header-top-bar">
            <div class="main-header-div">
                <div class="div-main-logo">
                    <img src="/images/sunflowerLogo.png" alt="logo sunflower">
                </div>
            </div>
          </div>
    
    </header>   
    
    <div class="space-between-header-main">
    
    </div>

    <div class="container">
        <h3>LOGIN</h3>
            <form autocomplete="on">
                <div class="caja-datos">
                    <div class="individual-box">
                        <input class="usuario" type="name" name="user box" placeholder="Nombre de usuario">
                    </div>
                    <div class="individual-box">   
                        <input class="passw" type="password" name="password box" placeholder="Contraseña">
                    </div>
                </div>
                    <div class="minicaja">
                        <input id="minibox" type="checkbox" name="minibox">
                        <label for="minibox">Recuérdame</label>
                    </div>
                <div class="caja-botonenviar">
                    <input type="submit" value="Enviar" class="boton-enviar">
                </div>
            </form>
        <div class="caja-parrafos">
            <p class="olvidaste"><a class="link" href="#">¿Olvidaste tu contraseña?</a></p>
            <p class="registrate">¿No tienes una cuenta?, <a class="link" href="register.html">Regístrate</a></p>
        </div>
    </div>   
</body>
</html>