<!DOCTYPE html>
<html lang="en">

<!--==========================
            HEAD
============================-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <!--Enlazando con el css styles_products-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--Enlazando con el css de fonts.google fuente Quicksand Regular 400-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <!--link a los íconos de fontawesome-->
    <script src="https://kit.fontawesome.com/606e397101.js" crossorigin="anonymous"></script>


</head>

<!--==========================
            BODY
============================-->
<body>

<!--==========================
           HEADER
============================--> 
<header>
    <div class="main-header-top-bar">
        <div class="main-header-div">
            <div class="div-main-logo">
                <img src="/images/sunflowerLogo.png" alt="logo sunflower">
            </div>
            <div  class="main-div-search">
                <div class="div-search">
                    <div>
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div-main-busqueda">
                        <input class="input-busqueda" type="search" name="busqueda" ></input>
                        <button class="ilupa"><i class="fas fa-search"></i></button>
                    </div>
                    <div>
                        <i class="fas fa-shopping-cart"></i>
                    </div>

                </div>
            </div>
        </div>
      </div>

</header>   

<div class="space-between-header-main">

</div>

<!--==========================
           MAIN
============================--> 
<main>

    <div class="main-principal">
        <div class="main-principal-carrusel">
            <div class="bar-carrusel">
                <div class="carrusel-principal">
                    <img src="/images/5A7A8242_2048x2048.jpg" alt="Homalomena 'Selby'1">
                </div>
                <div class="carrusel-secundario">
                    <div>
                        <img src="/images/IMG_4795-2_2048x2048.jpg" alt="Homalomena 'Selby'2">
                    </div>
                    <div>
                        <img src="/images/IMG_4794-2_2048x2048.jpg" alt="Homalomena 'Selby'3">
                    </div>
                    <div>
                        <img src="/images/IMG_4793_2048x2048.jpg" alt="Homalomena 'Selby'4">
                    </div>

                </div>
            </div>
            <div class="main-secundario-products">
                <div class="name-product">
                    <h1>Homalomena 'Selby'</h1>
                    <div class="cost-product">
                        <span>$25.00</span>
                    </div>
                </div>
        
                <div class="product-add">
                    <div class="quantity">
                        <a href="#" data-quantity="down">-</a>
                        <input type="text" id="quantity" name="quantity" value="1">
                        <a href="#" data-quantity="up">+</a>
                    </div>
                    <div class="product-detail-action">
                        <button type="submit" name="add">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    

    <div class="main-description">
        <section class="description-bar">
            <article class="article-description">
                <ul>
                    <li><b> Iluminación:</b> Poca luz - Luz brillante e indirecta</li>
                    <li><b>Agua:</b>  Una vez que las dos pulgadas superiores se hayan secado. Aproximadamente cada 5-6 días.</li>
                    <li> <b>Humedad:</b>  Tolerante a la humedad doméstica estándar.</li>
                    <li><b>Familia:</b>  Aracaea</li>
                    <li><b>Origen nativo:</b>  Sudeste de Asia</li>
                </ul>
            </article>
            <article class="article-description">
                <h3>CRECIENDO EN INTERIORES</h3>
                <div>
                    Homalomena es una planta muy tranquila con un follaje llamativo. Son fanáticos de la luz 
                    indirecta e incluso pueden tolerar niveles de luz más bajos. Mantenga su planta alejada del 
                    sol directo. Encontrará a estos géneros creciendo felizmente en el subsuelo de las selvas 
                    tropicales del sudeste asiático, lo que significa que disfrutan de una nebulización diaria o 
                    un humidificador funcionando cerca. Asegúrese de retener un nivel uniforme de humedad en su 
                    mezcla para macetas para mantener la planta feliz y el follaje exuberante.
                </div>
            </article>
            <article class="article-description">
                <h3>CRECIENDO AL AIRE LIBRE</h3>
                <div>
                    Homalomena cultivada al aire libre en el norte de Texas debe mantenerse a la sombra. 
                    No recomendamos mantener su planta al aire libre durante períodos de calor o frío extremos. 
                    Se recomienda regar con regularidad, especialmente si su región es relativamente 
                    seca (en comparación con los neotrópicos). Nunca deje que su Homalomena se exponga a
                     temperaturas bajo cero. Cuando las temperaturas alcancen los 55 grados o menos, asegúrese de 
                     trasladar sus plantas al interior a un ambiente cálido y brillante.
                </div>
            </article>
        </section>
    </div>




</main>

<!--==========================
           FOOTER
============================--> 
<footer>
    <section class="section-footer" >
        <i class="isection fas fa-credit-card"></i>
        <h4 class="h4section-footer" >Pagá con tarjeta o en efectivo</h4>
        <p class="psection-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </section>
</footer>

</body>
</html>