<!DOCTYPE html>
<html lang="en">

<!--==========================
            HEAD
============================-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <!--Enlazando con el css styles_products-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-cart.css">
    <!--Enlazando con el css de fonts.google fuente Quicksand Regular 400-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <!--link a los íconos de fontawesome-->
    <script src="https://kit.fontawesome.com/606e397101.js" crossorigin="anonymous"></script>


</head>

<!--==========================
            BODY
============================-->

<body>

    <!--==========================
           HEADER
============================-->
    <header>
        <div class="main-header-top-bar">
            <div class="main-header-div">
                <div class="div-main-logo">
                    <img src="/images/sunflowerLogo.png" alt="logo sunflower">
                </div>
            </div>
        </div>
    </header>

    <div class="space-between-header-main">

    </div>

    <!--==========================
           MAIN
============================-->
    <main>

        <div>
            <h1 style="text-align: center;">Tu Carrito</h1>
        </div>
        <div class="actualizar">
            <a href="#" continuar="continuar">Actualizar carrito | Continuar comprando</a>
        </div>
        <div class="content">
            <div class="items">
                <div class="items-img">
                    <img src="/img/IMG_4795-2_2048x2048.jpg" alt="" srcset="">
                </div>
                <div class="items-desc">
                    <div>
                        <p>Plantita</p>
                    </div>
                    <!-- <div>
                        <p>6"</p>
                    </div> -->
                    <div>
                        <p>1733.00</p>
                    </div>
                </div>
            </div>
            <div class="amount">
                <div class="amount-button">
                    <div class="amount-group">
                        <button>+</button>
                        <input type="text" value="1">
                        <button>+</button>
                    </div>
                </div>
                <div class="close">
                    <div>
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="subtotal">
            <hr>
            <h2>Subtotal:</h2>
            <hr>
        </div>

        <div class="subtotal_final">
            <h2>1733.00$</h2>
        </div>

        <div class="instrucciones">
            <h2>Escribe alguna instrucción al vendedor:</h2>
        </div>

        <div class="textarea">
            <textarea name="textarea" rows="10" cols="36">...</textarea>
        </div>

        <div class="carrito-comprar">
            <button class="comprar">Comprar</button>
        </div>


    </main>

    <!--==========================
           FOOTER
============================-->
    <footer>
        <section>
            <span class="icon-footer"><i class="fas fa-credit-card"></i></span>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p class="body-pie">Con Sunflower Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <span class="icon-footer"><i class="fas fa-gift"></i></span>
            <h3>Envío gratis desde $ 2.500</h3>
            <p class="body-pie">Solo por estar registrad@ en Sunflower tenés envíos gratis en miles de productos. Es un beneficio de Sunflower Puntos.</p>
        </section>
        <section>
            <span class="icon-footer"><i class="fas fa-user-shield"></i></span>
            <h3>Seguridad, de principio a fin</h3>
            <p class="body-pie">¿No te gusta? ¡Devolvelo! En Sunflower, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section class="pie-footer">
            <p class="body-pie">Copyright © 2021-2021 Sunflower</p>
        </section>
    </footer>

</body>

</html>