<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunflower</title>
    <link rel="stylesheet" href="/css/styles-register.css"/>    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="main-header-top-bar">
            <div class="main-header-div">
                <div class="div-main-logo">
                    <img src="/images/sunflowerLogo.png" alt="logo sunflower">
                </div>
            </div>
          </div>
    
    </header>   
    <!--LINEA DIVISORA ENTRE EL ENCABEZADO YEL CUERPO-->
    <div class="space-between-header-main"></div>
    <!--CONTENEDOR DE TODOS LOS ELEMENTOS DE CUERPO-->
    <div class="container">
        <h3>REGÍSTRATE</h3>
        <hr>
            <form autocomplete="on">
                <!--CONTENEDOR FORMULARIO-->
                <div class="caja-datos">
                    <div class="individual-box">
                        <input type="name" name="user box" placeholder="Nombre">
                    </div>
                    <div class="individual-box">   
                        <input type="surname" name="surname box" placeholder="Apellido">
                    </div>
                    <div class="individual-box">   
                        <input type="email" name="email box" placeholder="E-mail">
                    </div>
                    <div class="individual-box">
                        <input type="phone" name="phone box" placeholder="Teléfono">
                    </div>
                    <div class="individual-box">   
                        <input type="password" minlength="4" maxlength="8" name="password box" placeholder="Contraseña">
                    </div>
                    <div class="individual-box">
                        <input type="password" minlength="4" maxlength="8" name="confirm password box" placeholder="Confirmar contraseña">
                    </div>
                </div>
                <div class="caja-botonenviar">
                    <input type="submit" value="Enviar" class="boton-enviar">
                </div>
            </form>
    </div>   
</body>
</html>