.ContainerMayor{
    position: relative;
    text-align: center;
    color: rgb(196, 115, 115);
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-60%, -30%);
    font-size: 3em;
    background: rgba(88, 111, 111, 0.1);
    /* background: rgba(169, 172, 138, 0.3); */
    font-weight: 600;
    width: 400px;
  }

  .top-left {
    position: absolute;
    top: -40px;
    left: -16px;
  }