/*****************************
            HEADER
******************************/
*{
    box-sizing: border-box; 
 }
 
 img{
     width: 100%;
     height: 100%;
     
 }

 body{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    margin: 0;
}

/************************
   Main Header padres
***********************/

.main-header{
   /* background-color: var(--rosa);*/
    /* border: chartreuse solid 3px; */
    /* height: 50%; */
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
}

.main-header .main-header-top-bar{
    background-image: url("/img/tierra.jpg");
    height: 70%;
    /* border: black solid 3px; */
}

.main-header-div{
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* border: solid 3px red; */
}
/************************
    Logo Sunflower 
 ***********************/
.div-main-logo{
    width: 50%;
    margin: auto;
   /*  border: cyan solid 3px; */
}

/************************
   Menú de navegación 
 ***********************/
.main-navbar{
    display: none;
    margin: auto;
}

.main-navbar ul{
    list-style: none;
   padding: 0;
   margin: 0;
}

.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 2px 0;
    font-size: 17px;
}

/****************************
   íconos usuario, carrito, 
   menú hamburguesa 
 ****************************/

.main-header-div .div-main-iconos{
    width: 50%;
    margin: auto;
    display: flex; 
    justify-content: space-around;
    margin-left: 20px;
    margin-bottom: 10px;
    align-items: center;
    margin-right: 10px;
    /* border: darkmagenta 3px solid; */
}

/*SECCION USUARIO LOGUEADO*/
.contenedor-perfil{
    width: 50%;
    color: white; 
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .contenedor-perfil i {
    color: white;
     margin-right: 5px;
    margin-left: 10px;
  }

  /*CONTENEDOR IMG Y P*/
  .perfil-detalle{
      display: flex;
      align-items: center;
      height: 35px;
      width: 35%;
  }
  
  /*IMAGEN PERFIL USUARIO*/
  .perfil-detalle img{
      object-fit: cover;
      border-radius: 3px;
      margin-right: 0px;
  }
  /*USUARIO LOGUEADO*/
  .nombre-usuario{
      font-size: 10px;
      display: none;
      margin: auto;
  }

 
  .login{
    width: 30%;
    /* border: green solid 1px; */
    margin: auto;
    text-align: right;
}

.login i{
    width: 100%;
    height: 100%;
    color: var(--blanco);
    text-align: right;
}

.carrito{
    width: 30%;
    /* border: blue solid 1px; */
    text-align: right;
}

.carrito i{
    width: 100%;
    color: var(--blanco);
}

.hamburguer-buttom {
    width: 30%;
    text-align: right;
}


.hamburguer-buttom  i{
    color: var(--blanco);
    /* border: olive solid 1px; */
    padding: 0;
    
}

.login i:hover{
    color: var(--rosa);
    transition: color 1s;
}

.carrito i:hover{
    color: var(--rosa);
    transition: color 1s;
}



/* Barra de búsqueda con el ícono de lupa */

.main-div-search{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   /*  border: var(--negro) solid 1px; */
}


/* .div-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: solid white 2px;
} */

.div-search input{
    border-radius: 2px 0px 0px 2px;
    border: none;
}

.div-search button{
    border-radius: 0px 2px 2px 0px;
    border: none;
    background: var(--blanco);
    cursor: pointer;
}

.div-main-busqueda{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: solid 2px var(--grisClaro);
}

.div-main-busqueda input{
    width: 100%;
    height: 30px;
}

.div-main-busqueda button{
    width: 30px;
    height: 30px;
    background-color: #edafa4;
}



.ilupa i{
    color: var(--grisOscuro);
    
}

/* íconos login, carrito, menú hambrguesa  */

/* .div-secundario-iconos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
} */



/*BREAKPOINT TABLET*/
@media (min-width:481px){

    .main-header-div{
        justify-content: space-between;
    }

    .main-header-div .div-main-logo{
        width: 45%;
    }

    .perfil-detalle{
        display: flex;
        align-items: center;
        height: 20px;
        width: 20%;
    }

    .main-header-div .div-main-iconos{
        width: 55%;
        margin-bottom: 10px;
        justify-content: center;
    }

    .contenedor-perfil{
        width: 60%;
    }

    .login, .carrito, .hamburguer-buttom{
        width: 13%;
    } 

       .login i, .carrito i, .hamburguer-buttom i{
        font-size: 20px;
       }

    /* .hamburguer-buttom {
        margin-right: 0;
    } */
    .div-main-busqueda{
        margin-bottom: 20px;
    }

    .main-div-search{
        width: 100%;
    }
    .div-main-busqueda input{
        width: 100%;
        height: 30px;
    }
    
    .div-main-busqueda button{
        width: 30px;
        height: 30px;
        font-size: 20px;
    }

    .contenedor-perfil{
        margin: 0;
    }
    
    .contenedor-perfil i {
        color: white;
        margin-right: 0px;
    }

      /*USUARIO LOGUEADO*/
    .nombre-usuario{
        font-size: 12px;
        display: contents;
    }

}

/*BREAKPOINT LAPTOP*/
@media (min-width:769px){

    .main-navbar{
        margin-bottom: 10px;
    }

    .main-header-div .div-main-logo{
        width: 25%;
       /*  border: cyan solid 3px; */
    }

    .main-header-div .main-navbar{
        display: flex;
        width: 50%;
       justify-content: center;
   }

   .main-navbar ul{
       width: 70%;
       text-align: end;
       display: flex;
       justify-content: space-between;
       
   }

   .main-navbar ul li{
       margin-right: 10px;
   }

   .main-navbar ul li a:hover{
       color: var(--rosa);
       transition: all 1s;
   }

   .main-navbar a{
       font-size: 18px;
       color: var(--blanco);
       font-weight: bold;
   }

   .div-search{
    width: 100%;
    }

   .hamburguer-buttom{
       display: none;
   }

    .main-header-div .div-main-iconos{
        width: 25%;
        display: flex;
        font-size: 25px;
        /* margin: 5px 0; */
    }

    /* .div-main-iconos .main-div-search{
        width: 75%;
        margin-bottom: 0;
    } */
    
    /* .div-secundario-iconos{
        margin-right: 80px;
    }
 */
    
    /* .div-main-iconos .div-secundario-iconos{
        width: 25%;
        align-self: end;
    } */

    .perfil-detalle{
        display: flex;
        align-items: center;
        height: 25px;
        width: 25%;
    }

    .nombre-usuario{
        font-size: 16px;
    }
  
    
}
