/*****************************
            HEADER
******************************/
*{
    box-sizing: border-box; 
 }
 
 img{
     width: 100%;
     
 }

 body{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    margin: 0;
}

/************************
   Main Header padres
***********************/

.main-header{
   /* background-color: var(--rosa);*/
    background-image: url("/img/tierra.jpg");
    padding: 5px;
    /* border: chartreuse solid 3px; */
    /* height: 50%; */
    /* position: fixed;
    margin-top: 0; */
}

.main-header .main-header-top-bar{
    height: 100%;
    /* border: black solid 3px; */
}


.main-header-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: solid 3px red; */
}



/************************
    Logo Sunflower 
 ***********************/

.main-header-div .div-main-logo{
    width: 50%;
   /*  border: cyan solid 3px; */
}

.div-main-logo img{
    width: 100%;
    height: 100%;
    /* border: cornsilk solid 3px; */
}

/************************
   Menú de navegación 
 ***********************/
.main-navbar{
    display: none;
}

.main-navbar ul{
    list-style: none;
   padding: 0;
   margin: 0;
}

.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 2px 0;
    font-size: 17px;
}

/****************************
   íconos usuario, carrito, 
   menú hamburguesa 
 ****************************/

.main-header-div .div-main-iconos{
    width: 50%;
    margin: auto;
    display: inline-block;
    /* display: flex; */
    margin-left: 20px;
    margin-bottom: 0;
    /* border: darkmagenta 3px solid; */
}

/* Barra de búsqueda con el ícono de lupa */

.main-div-search{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin-left: 30px; */
    /* border: black solid 5px; */
    margin: auto;
    margin-bottom: 20px;
}


.div-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid white 2px; */
}

.div-search input{
    border-radius: 2px 0px 0px 2px;
    border: none;
}

.div-search button{
    border-radius: 0px 2px 2px 0px;
    border: none;
    background: var(--blanco);
    cursor: pointer;
}

.div-main-busqueda{
    display: flex;
    flex-direction: row;
    justify-content: right;
    
    /* border: solid 2px purple; */
}

.div-main-busqueda input{
    width: 100%;
    height: 25px;
}

.div-main-busqueda button{
    width: 30px;
    height: 25px;
    background-color: #edafa4;
}



.ilupa i{
    color: var(--grisOscuro);
    
}

/* íconos login, carrito, menú hambrguesa  */

.div-secundario-iconos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.login{
    width: 33%;
    /* border: green solid 1px; */
    margin: auto;
    text-align: right;
}

.login i{
    width: 100%;
    height: 100%;
    color: var(--blanco);
    text-align: right;
}

.carrito{
    width: 33%;
    /* border: blue solid 1px; */
    margin: auto;
    text-align: right;
}

.carrito i{
    width: 100%;
    color: var(--blanco);
}

.hamburguer-buttom {
    width: 34%;
    text-align: right;
}


.hamburguer-buttom  i{
    color: var(--blanco);
    /* border: olive solid 1px; */
    padding: 0;
    
}

.login i:hover{
    color: var(--rosa);
    transition: color 1s;
}

.carrito i:hover{
    color: var(--rosa);
    transition: color 1s;
}


@media (min-width:481px){

    .main-header-div{
        justify-content: space-between;
    }

    .main-header-div .div-main-logo{
        width: 40%;
        
       /*  border: cyan solid 3px; */
    }

    .main-header-div .div-main-iconos{
        width: 40%;
        margin-bottom: 10px;
        justify-content: flex-end;
        margin-right: 0;
    }

    .main-div-search{
        margin-bottom: 50px;
    }

    

    .div-secundario-iconos{
        margin-top: 30px;
     /*    border: indianred solid 2px; */
    }

    .login{
        justify-content: right;
        /* border: indigo solid 2px; */
        
    }

    .carrito{
        justify-content: right;
       /*  border: black solid 2px; */
    }

    .login i, .carrito i, .hamburguer-buttom i{
        font-size: 18px;
       }

    .hamburguer-buttom {
        margin-right: 0;
    }

    .div-main-busqueda input{
        width: 80%;
        height: 30px;
    }
    
    .div-main-busqueda button{
        width: 30px;
        height: 30px;
        font-size: 20px;
    }


}

@media (min-width:769px){

    .main-header-div .div-main-logo{
        width: 15%;
       /*  border: cyan solid 3px; */
    }

    .main-header-div .main-navbar{
        display: flex;
        width: 40%;
       justify-content: center;
   }

   .main-navbar ul{
       width: 70%;
       align-items: flex-end;
       display: flex;
       justify-content: space-between;
   }

   .main-navbar ul li{
       text-align: center;
       margin-right: 10px;
   }

   .main-navbar a{
       font-size: 18px;
       color: var(--blanco);
       font-weight: bold;
   }

   .div-main-busqueda input{
    width: 80%;
    height: 30px;
    }

    .div-main-busqueda button{
        width: 30px;
        height: 30px;
        font-size: 20px;
    }

   

   .hamburguer-buttom{
       display: none;
   }

    .main-header-div .div-main-iconos{
        width: 30%;
        display: flex;
        margin: 5px 0;
    }

    .div-main-iconos .main-div-search{
        width: 75%;
        margin-bottom: 0;
    }
    
    .div-main-iconos .div-secundario-iconos{
        width: 25%;
        align-self: end;
    }

    /* .div-main-iconos .carrito{
        width: 5%;
    } */




    

}















