*{
    box-sizing: border-box; 
 }

 
 img{
     width: 100%;
 }
 
 
 body{
     font-family: 'Quicksand', sans-serif;
     margin: 0;
 }


.container-main {
    margin-top: 190px;
}

.content {
    /*    border: 1px solid black; */
    width: 100%;
    margin: auto;
    margin-top: 35px;
    /* border: saddlebrown solid 3px; */
}

.cartProducts{
    margin-bottom: 50px;
    position: relative;
    /* border: yellowgreen solid 3px; */
}

.items {
    width: 100%;
    /* border: 3px solid black; */
    display: flex;
}

.items-img{
    width: 30%;
    /* border: 3px solid blue; */
}

.items-content{
    width: 70%;
    margin-left: 10px;
}

.items-img img {
    object-fit: cover;
    height: 100%;
}



.item-title a, .amount-cost h3 {
    text-decoration: none;
    font-size: 16px;
    color: var(--negro);
    font-weight: bold;
}


.items-description p {
    font-size: 16px;
    color: var(--grisOscuro);
    font-weight: bold;
}

.amount {
    width: 100%;
    /* border: 3px solid green; */
    padding: 0px;
    margin: 0;
    padding: 0;
    margin-top: 13px;
}


.amount-subtotal{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    border-top: solid 2px rgba(117, 115, 115, 0.247);
}

.amount-subtotal h3{
   margin-left: 40px;
   margin-top: 0;
   color: var(--marron);
   font-weight: 900;
   font-size: 17px;
}

.close {
    width: 8%;
    /*    border: 1px solid white; */
    position: absolute;
    right: -2px;
    top: -7px;
}

.close div i {
    font-size: 17px;
    color: var(--grisOscuro);
}


.cart-template-detail{
    width: 90%;
    margin: auto;
    
}

.cart-detail{
    background-color: var(--grisClaro) ;
}

.cart-title-detail{
    width: 95%;
    margin: auto;
}

.cart-title-detail h1{
    font-size: 1.5em;
    text-align: left ;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: solid 1px white;
}

.subtotal, .discounts{
    width: 95%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    
}

.total{
    width: 95%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 10px;
    border-top: solid 1px white;
    
}

.info{
    width: 50%;
}

.subtotal-cost{
    width: 50%;
    text-align: right;
    font-size: 17px;
}

.subtotal h2, .discounts h2, .total h2{
    font-size: 16px;
}




























