* {
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
    /*width: 100%;*/
}

a {
    text-decoration: none;
    color: white
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*****************************
BARRA ENTRE EL HEADER Y EL MAIN
******************************/
.space-between-header-main{
    background-color: var(--grisClaro);
    height: 4px;
}


/*=======================================  PRINCIPIO DEL CARRUSEL ===================================*/

/*CONTENEDOR TODA LA LISTA*/
.slider{
    width: 100%;
    padding: 0;
    margin: auto;  
    overflow: hidden;
    margin-top: 95px;
}
.slider ul{
    padding: 0;
    display: flex;
    width: 400%;
  
    animation: cambio 20s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.slider li{
    list-style-type: none;
    width: 100%;
}
.slider img{
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/*=============================== TERMINA EL CARRUSEL ===============================*/
p{
    font-weight: 600;
}

.copy {
margin-top: 50px;    
    margin-left: 20px;
    color: #edafa4;
font-weight: 600;
}

.frase{  
    margin-left: 15px;
    font-weight: 600;
    font-size: 20px;
}

.autora-frase {
margin-bottom: 70px;      
    text-align: end;
    margin-right: 39px;
}

/*LINEA INFERIOR DEL TEXTO*/
hr{
    width: 90%;
    position: relative;
    margin-bottom: 70px;
}

main {
   width: 100%;
   text-align: center;
   color: gray;
}


.productos-destacados{
    text-align: center;
    font-size: 27px;
    color: var(--marron);
    font-weight: 600;
}


.producto-destacado {
    width: 40%; 
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0.5px 0.5px 4px 1px #edafa4;
}

.articulo-pie p {
    font-size: 16.5px;
    font-weight: 600;
    color: var(--gris);
    margin: 10px 0 0 10px;
    text-transform: capitalize;
}

.precio{
    display: flex;
    justify-content: center;
    margin-top: 17.5px;
    
}

#precio-sinDescuento{
    color: var(--grisOscuro1);
    text-decoration: line-through;
}

.divDescuento{
    position:relative;
    left: 0px;/*esto*/
    bottom: 50px;/*esto*/
    width: 70px;/*esto*/
    height: 35px;
    border: 2px solid rgb(97, 89, 89);
    background-color: red;    
}
.descuento{
    font-size: 12px;/*esto*/
    color: white;
    margin: 0px;
}

.precio p {
    font-size: 19px;
    color: var(--marron);
    margin: 0;
    margin-left: 10px;
    font-weight: bold;
    font: sans-serif;
}
.dos-articulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.div-img{
    width: 100%;
    height: 200px;
}


/*ANTES DEL FOOTER*/
.container-ultimo {
    width: 98%;
    display: flex;
    justify-content: space-between;
}
.camion-envio,
.pago-en-linea,
.cambios,
.compra-segura{
    width: 25%;
}

.icon{
    margin: auto;
    width: 20px;
    height: 20px;
}


.container-ultimo p {
    font-size: 10px;
}

.container-button {
    width: 110px;/*esto*/
    /* height: 60px; */
    /* padding: 10px; */
    margin: auto;
    margin-top: 10px;/*esto*/
    margin-bottom: 5px;/*esto*/
}

.boton-carrito{
    border: none;
    border-radius: 8px;
    width: 90%;
    height: 70%;
    color: white;
    font-size: 9px;/*esto*/
    font-weight: 700;
    background: #edafa4;
    padding: 10px 10px;
}


@media (min-width:481px) {
    
    .producto-destacado {
        width: 30%;
        height: 420px;
    }

    .dos-articulos {
        display: flex;
        flex-direction: row;
    }

    .div-img{
        width: 100%;
        height: 250px;
    }
 
    .autora-frase {
        text-align: end;
        margin-right: 200px;
    }
    .container-ultimo {
        margin: 30px;
    }
    .container-ultimo p {
        font-size: 18px;
    }
    .container-ultimo img {
        width: 20px;
    }
    .pago-texto {
        margin-top: 11px;
    }
    .container-button {
        margin-top: 20px;/*esto*/    
    }

    .divDescuento{
        width: 80px;/*esto*/
        height: 40px;
        bottom: 60px;
    }
    .descuento{
        font-size: 14px;/*esto*/
    }
    .precio p {
        font-size: 22px;
    }
}



@media (min-width:769px) {

    .slider{
        margin-top: -80 !important;
    }

    .productos-destacados{
        font-size: 34px;
    }

    .producto-destacado {
        width: 22%;
        height: 470px;
    }

    .div-img{
        height: 300px;
    }
    .divDescuento{
        bottom: 60px;
        width: 100px; 
        height: 45px;  
    }
    .descuento{
        font-size: 16px;
    }
    .container-button {
        width: 140px;/*esto*/
    }
    .boton-carrito{
        font-size: 12px;/*fijo*/
        cursor: pointer;/*fijo*/
    }
    .boton-carrito:hover{
        background-color: var(--marron);
        color: var(--rosa);
        font-weight: 500;
        transition: all 1s;
    }
    .precio p {
        font-size: 24px;
    }

    .producto-destacado:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 20px var(--rosa);
      }
      
    .producto-destacado {
        transition: transform 0.8s;
      }

  
}


