* {
    box-sizing: border-box;
}


/* img {
    width: 100%;
} */


body {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    margin: 0;
}


/*****************************
            MAIN
******************************/

.main-header {
    background-color: var(--rosa);
    padding: 20px;
    /* position: fixed;
    margin-top: 0; */
}

.div-main-logo img {
    width: 50%;
}


/*****************************
BARRA ENTRE EL HEADER Y EL MAIN
******************************/

.space-between-header-main {
    background-color: var(--grisClaro);
    height: 5px;
}

.content {
    /*    border: 1px solid black; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.items {
    width: 50%;
    /*    border: 1px solid pink; */
    display: flex;
}

.items-img img {
    /* border: 1px solid brown; */
    width: 100px;
    display: flex;
    /* height: 100px; */
    margin-top: 15px;
}

.items-desc {
    width: 100%;
    margin-left: 5px;
    /*    border: 1px solid green; */
}

.items-desc div p {
    font-size: 12px;
    font-weight: bold;
}

.amount {
    width: 100%;
    display: flex;
    margin-top: 20px;
    /* border: 1px solid green; */
    padding: 0px;
}

.amount-button {
    width: 80%;
    margin: auto;
    /*    border: 1px solid crimson; */
}

.amount-group {
    /* width: 50%; */
    display: block;
    /* justify-content: end; */
    /*    border: 1px solid gray; */
}

.amount-group input {
    width: 15%;
    text-align: center;
}

.amount-group button {
    width: 22px;
    height: 22px;
    background: none;
}

.close {
    width: 10%;
    /*    border: 1px solid white; */
    margin: auto;
    margin-right: 0;
}

.close div i {
    font-size: 20px;
}

.actualizar a {
    text-align: center;
    margin-top: 30px;
    display: flex;
    font-size: 16px;
    justify-content: center;
}

.subtotal hr {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    /*  border: 1px solid crimson;*/
}

.subtotal h2 {
    width: 50%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    /*  border: 1px solid crimson;*/
}

.subtotal_final {
    width: 60%;
    margin: auto;
    display: flex;
    /*justify-content: space-between;*/
    justify-content: right;
    margin-top: -59px;
    /*    border: 1px solid crimson; */
}

.subtotal_final h2 {
    margin: center;
    margin-top: 8px;
}

.instrucciones {
    text-align: center;
    font-size: 11px;
}

.area-boton {
    /* display: block; */
    text-align: center;
    margin-top: 40px;
}

.comprar {
    border: none;
    background-color: #edafa4;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 30px;
    /* display: flex; */
    font-size: 16px;
    /* margin: center; */
    /* margin: 0 80px; */
    cursor: pointer;
}

.comprar:hover{
    background-color: var(--marron);
    color: var(--rosa);
    font-weight: 500;
    transition: all 1s;
}

.carrito-comprar {
    width: 100%;
    margin-top: 10%;
    margin: center;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.textarea {
    display: flex;
    box-sizing: padding-box;
    overflow: hidden;
    padding: 10px;
    width: 290px;
    font-size: 14px;
    margin: 30px auto;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
    border: 0;
}


/* prueba 1024 */

@media (min-width:768px) {
    body {
        font-family: 'Quicksand', sans-serif;
        font-size: 14px;
        margin: 0;
    }
    /*****************************
            MAIN
******************************/
    .main-header {
        background-color: var(--rosa);
        padding: 20px;
        /* position: fixed;
    margin-top: 0; */
    }
    .div-main-logo img {
        width: 50%;
    }
    /*****************************
BARRA ENTRE EL HEADER Y EL MAIN
******************************/
    .space-between-header-main {
        background-color: var(--grisClaro);
        height: 5px;
    }
    .content {
        /*    border: 1px solid black; */
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
    }
    .items {
        width: 50%;
        /*    border: 1px solid pink; */
        display: flex;
    }
    .items-img img {
        /* border: 1px solid brown; */
        width: 100px;
        display: flex;
        /* height: 100px; */
        margin-top: 15px;
    }
    .items-desc {
        width: 100%;
        margin-left: 5px;
        /*    border: 1px solid green; */
    }
    .items-desc div p {
        font-size: 12px;
        font-weight: bold;
    }
    .amount {
        width: 100%;
        display: flex;
        margin-top: 20px;
        /* border: 1px solid green; */
        padding: 0px;
    }
    .amount-button {
        width: 80%;
        margin: auto;
        /*    border: 1px solid crimson; */
    }
    .amount-group {
        /* width: 50%; */
        display: block;
        /* justify-content: end; */
        /*    border: 1px solid gray; */
    }
    .amount-group input {
        width: 15%;
        width: 15%;
        text-align: center;
    }
    .amount-group button {
        width: 22px;
        height: 22px;
        background: none;
    }
    .close {
        width: 10%;
        /*    border: 1px solid white; */
        margin: auto;
        margin-right: 0;
    }
    .close div i {
        font-size: 20px;
    }
    .actualizar a {
        text-align: center;
        margin-top: 30px;
        display: flex;
        font-size: 16px;
        justify-content: center;
    }
    .subtotal hr {
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        /*  border: 1px solid crimson;*/
    }
    .subtotal h2 {
        width: 50%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        /*  border: 1px solid crimson;*/
    }
    .subtotal_final {
        width: 60%;
        margin: auto;
        display: flex;
        /*justify-content: space-between;*/
        justify-content: right;
        margin-top: -59px;
        /*    border: 1px solid crimson; */
    }
    .subtotal_final h2 {
        margin: center;
        margin-top: 8px;
    }
    .instrucciones {
        text-align: center;
        font-size: 11px;
    }
    .area-boton {
        /* display: block; */
        text-align: center;
        margin-top: 40px;
    }
    .comprar {
        border: none;
        background-color: #edafa4;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        margin-top: 20px;
        margin-bottom: 30px;
        /* display: flex; */
        font-size: 16px;
        /* margin: center; */
        /* margin: 0 80px; */
        cursor: pointer;
    }
    .carrito-comprar {
        width: 100%;
        margin-top: 10%;
        margin: center;
        padding: 20px;
        text-align: center;
        justify-content: center;
    }
    .textarea {
        display: flex;
        box-sizing: padding-box;
        overflow: hidden;
        padding: 10px;
        width: 290px;
        font-size: 14px;
        margin: 30px auto;
        border-radius: 6px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
        border: 0;
    }
}

