*{
   box-sizing: border-box; 
}

img{
    width: 100%;
    height: 100%;
    
}


body{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    margin: 0;
}


/*****************************
BARRA ENTRE EL HEADER Y EL MAIN
******************************/
.space-between-header-main{
    background-color: var(--grisClaro);
    height: 4px;
}

/*****************************
          MAIN
******************************/
.main-principal{
    margin-top: 110px;

}

.bar-carrusel{
    width: 100%;
    /* border: solid 2px gold ; */
}

.carrusel-principal{
    width: 70%;
    /* border: indigo solid 2px; */
    margin-left: 15px;
}


.carrusel-principal img{
    width: 100%;
    height: 100%;
    justify-content: center;
    /* padding: 5px; */
    margin-bottom: 0;
   /*  border: tomato solid 2px; */
    /* margin-left: 3px; */
    object-fit: cover;
}

.carrusel-secundario{
    display: flex;
    width: 60%;
    justify-content: center;
    margin-left: 15px;
    /* border: green solid 2px; */
}

.carrusel-secundario div{
    margin-right: 6px;
}



.carrusel-secundario img{
   height: 100%;
   width: 100%;
    /* border: solid red 2px; */
    /* padding: 2px; */
    object-fit: cover;
    margin-right: 2px;
}

.name-product h1{
    margin-left: 18px;
    margin-bottom: 0;
}



.cost-product span{
    margin-left: 18px;
    font-size: 15px;
    font-weight: bold;
}

.size-product span {
    margin-left: 18px;
    font-size: 15px;
    font-weight: bold;
}

.size-product{
    margin-top: 10px;
}

.cost-product{
    margin-top: 10px;
}


.product-add{
    /* border: saddlebrown 2px solid; */
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.amount-button {
    width: 70%;
    height: 35px;
    margin: auto;
    border-radius: 4px;
    background-color: var(--grisClaro);
    margin-bottom: 30px;
    box-shadow : 0px 2px 2px rgb(160, 160, 160);
}

.amount-group{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    


}

.amount-group button {
    width: 22px;
    height: 22px;
    
}

.amount-group input {
    width: 15%;
    text-align: center;
    border: none;
    background-color: var(--grisClaro);
    color: var(--negroFuerte);
    font-size: 17px;
    font-weight: bold;
}

.amount-group a {
    margin-right: 5px;
    margin: auto;
}

.amount-group i{
    color: var(--grisOscuro) ;
    
}

/* .quantity{
    margin: auto ;
}

.quantity input, a{
    font-size: 20px;
    padding: 3px;
    margin-top: 9px;
    text-decoration: none;
}

.quantity input{
    width: 20%;
    height: 30px;
    text-align: center;
    border: none;
} */

.product-add .quantity{
    border: #666666 1px solid;
    width: 30%;
    height: 50px;
    text-align: center;
}

.product-add .product-detail-action{
    width: 90%;
    height: 90px;
    align-items: center;
    /* border: turquoise 3px solid; */
}

.product-detail-action button{
    background-color: var(--rosa);
    width: 250px;
    height: 70%;
    border: none;
   /*  margin-top: 10px; */
    color: white;
    font-weight: 500;
    font-size: 17px;
    
}

.product-detail-action button:hover{
    background-color: var(--marron);
    color: var(--rosa);
    font-weight: 500;
    transition: all 1s;
}

.product-detail-action{
    display: flex;
    margin: auto;
    margin-top: 20px;
    /* border: indigo solid 2px; */
    justify-content: center;

}

.main-description{
    margin: 0 20px;
    margin-bottom: 30px;
}

.article-description ul {
    padding: 0;;
    font-size: 16px;
    text-align: justify;
    line-height: 24px;
    color: black;
    font-weight: bold;
}
.article-description ul li{
    list-style: none;
    padding: 3px;

    
}

.article-description h3{
    margin-bottom: 6px;
}

/*****************************
    MAIN OTHER PRODUCTS
******************************/
.main-section-otherProducts{
    width: 100%;
   
}

.main-section-otherProducts a{
    text-decoration: none;
    
}


/* .div-otherProducts{
    width: 70%;
    height: 60%;
} */

.article-otherProducts{
    box-shadow : 0px 0px 10px #edafa4;
    /* border: #edafa4 solid 1px; */
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}

/* Título */
.title-otherproducts{
    width: 90%;
    /* border: solid 4px aqua; */
    border-top: #edafa4 solid 1px;
    font-size: 12px;
    color: #666666;
    font-weight: bold;
    margin: auto;
    
}

.title-otherproducts h3{
    width: 100%;
    margin: auto;
    /* border: blue solid 2px; */
    margin-top: 20px;
    margin-bottom: 50px ;
    text-align: center;
}

/* Imágenes */
.div-img-otherProducts{
    width: 100%;
    height: 200px;
    margin: auto;
    /* border: blue solid 4px; */
}
.div-img-otherProducts img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-otherProducts{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    
   /*  border: red solid 4px; */
}

.name-otherProducts h1 {
    width: 100%;
    /* border: palegreen solid 4px; */
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    margin: 10px 0
}

.name-otherProducts h3{
    width: 100%;
    text-align: center;
    font-size: 14px;
    /* border: palevioletred solid 4px; */
    margin: auto;
    margin-bottom: 10px;
}

.article-otherProducts:hover{
    transform: scale(1.1);
    box-shadow : 0px 0px 10px rgb(100, 100 , 100 );
}



/****************************
      BREAKPOINT TABLET     
*****************************/
@media (min-width:481px) {

    body main{
        width: 100%;
    }

    .main-principal{
        margin-top: 160px;
    
    }

   .main principal .main-principal-carrusel{
        width: 100%;
        height: 100%;
       /*  border: black solid 3px; */
        margin-top: 10px;
    }

    .bar-carrusel{
        display: flex;
        flex-direction: row-reverse;
        width: 85%;
        height: 500px;
        align-items: flex-start;
        justify-content: center;
        /* border: red   solid 3px; */
        /* margin: auto; */
    }

    .carrusel-principal{
        width: 70%;
        height: 100%;
        justify-content: center;
        /* align-self: center; */
        /* border: aqua solid 3px; */
        margin: 0 0 0 5px;
        padding: 0;
        
    }

    .carrusel-secundario{
        /* display: block; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        height: 100%;
        margin: 0 5px 0 0;
        padding: 0;
        margin-left: 15px;
        /* border: purple solid 3px; */
    }

    .carrusel-secundario div{
        width: 100%;
        height: 32%;
    }

    .carrusel-principal img{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
       /*  border: coral solid 3px; */
       object-fit: cover;
    }

    .carrusel-secundario img{
        width: 100%;
        height: 100%;
        padding: 0;
        margin:0 0 6px 0 ;
        /* border: blue solid 3px; */
        justify-content: space-between;
        object-fit: cover;
    }

    .product-add .product-detail-action{
        width: 50%;
    }

    .product-add .quantity{
        width: 100px;
    }

    .amount-button{
        width: 40%;
    }

   
    /* CSS OTHER PRODUCTS */


    .main-section-otherProducts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around
        
        
    }

    .article-otherProducts{
        width: 100%;

    }

    .div-img-otherProducts{
        width: 100%;
        height: 150px;
    }

    /* .main-section-otherProducts .div-otherProducts{
        width: 100%;
    } */

   
   /*  .main-otherProducts{
        display: flex;
       
        
        border: BLACK solid 6px;
        margin: auto;
    } */

   /*  .article-otherProducts{
        width: 60%;
        height: 100%;
        border: olive solid 4px;
        margin: 6px;
        margin-bottom: 50px;
    }

    .div-img-otherProducts{
        width: 100%;
        height: 200px;
    }

    .name-otherProducts{
        width: 100%;
    } */
   
}  

/*      BREAKPOINT PC     */    

@media (min-width:769px){

    /* .main-header-top-bar{
        max-width: 1200px;
    }
 */
    .main-principal .main-principal-carrusel{
        display: flex;
       /*  border: yellow solid 3px; */
        height:600px;
    }

    .main-principal-carrusel .bar-carrusel{
        width: 60%;
        height: 100%;
        /* border: blue 2px solid; */
    }

    .main-principal-carrusel .main-secundario-products{
        width: 40%;
        height: 100%;
        margin: auto;
        margin-top: 0;
        /* border: red solid 3px; */
    }

    .carrusel-secundario img{
        width: 100%;
    }

    .main-secundario-products .name-product{
        height:30%;
    }

    .main-secundario-products .product-add{
        height:40%;
       /*  border: lawngreen solid 4px; */
    }

    .name-product h1{
        margin-top: 0;
        font-size: 3em;
        font-weight: bold;
    }

    .size-product span {
        font-size: 18px;
    }

    .cost-product span{
        font-size: 20px;
    }

    .div-img-otherProducts{
        width: 100%;
        height: 200px;
    }

   
   

    

    
}



