*{
    box-sizing: border-box; 
 }
 
 img{
     width: 100%;
     
 }
 
 
 body{
     font-family: 'Quicksand', sans-serif;
     margin: 0;
 }

/*****************************
BARRA ENTRE EL HEADER Y EL MAIN
******************************/
.space-between-header-main {
    background-color: var(--grisClaro);
    height: 5px;
}

/*****************************
            MAIN
******************************/

.cart-template{
    width: 100%;
    margin-top: 110px;
    margin-bottom: 30px;
    /* border: red solid 3px; */
}



.cart-template-products{
    width: 90%;
    /* border: blue solid 3px; */
    margin: auto;
}

.cart-title {
    text-align: center;
    border-bottom: var(--rosa) solid 1px;
    width: 90%;
    margin: auto;
}

.content {
    /*    border: 1px solid black; */
    width: 100%;
    margin: auto;
    margin-top: 35px;
    /* border: saddlebrown solid 3px; */
}

.cartProducts{
    margin-bottom: 50px;
    position: relative;
    /* border: yellowgreen solid 3px; */
}

.items {
    width: 100%;
    /* border: 3px solid black; */
    display: flex;
}

.items-img{
    width: 30%;
    /* border: 3px solid blue; */
}

.items-content{
    width: 70%;
    margin-left: 10px;
}

.items-img img {
    object-fit: cover;
    height: 100%;
}



.item-title a, .amount-cost h3 {
    text-decoration: none;
    font-size: 16px;
    color: var(--negro);
    font-weight: bold;
}


.items-description p {
    font-size: 16px;
    color: var(--grisOscuro);
    font-weight: bold;
}

 .amount {
    width: 100%;
    /* border: 3px solid green; */
    padding: 0px;
    margin: 0;
    padding: 0;
    margin-top: 13px;
}

.amount-button {
    width: 70%;
    height: 35px;
    margin: auto;
    border-radius: 4px;
    background-color: var(--grisClaro);
    margin-bottom: 30px;
    box-shadow : 0px 2px 2px rgb(160, 160, 160);
}

.amount-group{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    


}

.amount-group button {
    width: 22px;
    height: 22px;
    
}

.amount-group input {
    width: 15%;
    text-align: center;
    border: none;
    background-color: var(--grisClaro);
    color: var(--negroFuerte);
    font-size: 17px;
    font-weight: bold;
}

.amount-group a {
    margin-right: 5px;
    margin: auto;
}

.amount-group i{
    color: var(--grisOscuro) ;
    
}


.amount-subtotal{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    border-top: solid 2px rgba(117, 115, 115, 0.247);
}

.amount-subtotal h3{
   margin-left: 40px;
   margin-top: 0;
   color: var(--marron);
   font-weight: 900;
   font-size: 17px;
}

    

.close {
    width: 8%;
    /*    border: 1px solid white; */
    position: absolute;
    right: -2px;
    top: -7px;
  
}

.close div i {
    font-size: 17px;
    color: var(--grisOscuro);
}


/* DETALLE COMPRA */

.cart-template-detail{
    width: 90%;
    margin: auto;
    background-color: var(--grisClaro) ;
}

.cart-title-detail{
    width: 95%;
    margin: auto;
}

.cart-title-detail h1{
    font-size: 1.5em;
    text-align: left ;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: solid 1px white;
}

.subtotal, .discounts{
    width: 95%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    
}

.total{
    width: 95%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 10px;
    border-top: solid 1px white;
    
}

.info{
    width: 50%;
}

.subtotal-cost{
    width: 50%;
    text-align: right;
    font-size: 17px;
}

.subtotal h2, .discounts h2, .total h2{
    font-size: 16px;
}

.instructions{
    width: 100%;
    /* border: turquoise 2px solid; */
}

.instructions-description, .instructions-comprar, .instructions-vaciar, .instructions-seguirComprando {
    width: 90%;
    margin: auto;
    /* border: red solid 3px; */
    text-align: center;
}

.instructions-title{
    width: 90%;
    font-size: .6em;
    margin: auto;
}

.instructions-description textarea{
    width: 100%;
    box-shadow : 0px 0px 5px rgb(100, 100 , 100 );
    border-radius: 4px;
    justify-content: center;
}

.textarea {
    display: flex;
    box-sizing: padding-box;
    overflow: hidden;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    margin: 30px auto;
    /* border-radius: 6px; */
    /* box-shadow: 2px 2px 8px rgba(0, 0, 0, .3); */
    border: 0;
}

.comprar {
    border: none;
    background-color: #edafa4;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    color: var(--blanco);
    font-weight: 500;
    cursor: pointer;
    border-radius: 3px;
}

.vaciar{
    border: none;
    background-color: var(--blanco);
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    color: var(--rosa);
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
    border: solid 1px var(--rosa);
}

.seguirComprando{
    border: none;
    background-color: var(--blanco);
    padding: 15px 21px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    color: var(--rosa);
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
    border: solid 1px var(--rosa);
}

.comprar:hover, .vaciar:hover, .seguirComprando:hover{
    background-color: var(--marron);
    color: var(--rosa);
    font-weight: 500;
    transition: all 1s;
}


/****************************
      BREAKPOINT TABLET     
*****************************/
@media (min-width:481px) {

    .cart-template{
        margin-top: 150px;
        /* border: red solid 3px; */
        
    }

    

    .items-img{
        width: 20%;
        /* border: 3px solid blue; */
    }
    
    .items-content{
        width: 90%;
        display: flex;
    }

    .items-desc{
        width: 60%;
    }

    .amount-cost{
        width: 40%;
        margin: auto;
        text-align: center;
    }

    .cart-title{
        width: 100%;
    }

    .cartProducts{
        display: flex;
    }

    .amount{
        display: flex;
    }

    .amount-subtotal h3.amount-total{
        display: none;
        
    }

    .amount-button{
        width: 40%;
    }

    .amount-subtotal{
        width: 40%;
        border: none;
        justify-content: center;
        text-align: center;
        margin-left: 0;
        
       
    }

    .amount-subtotal h3{
        margin-left: 0;
        margin-right: 27px;
    }

    .instructions-description, .instructions-comprar, .instructions-vaciar, .instructions-seguirComprando {
        width: 61%;
        margin: auto;
        /* border: violet solid 3px; */
        text-align: center;
    }
    
    .instructions-title{
        width: 53%;
        font-size: .8em;
        
    }
    
    .instructions-description textarea{
        width: 90%;
        
    }
}



/****************************
      BREAKPOINT pc     
*****************************/
@media (min-width:769px) {

    .cart-template{
        display: flex;
        width: 95%;
        margin: auto;
        margin-top: 140px;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .cart-template-products{
        width: 60%;
        height: 50%;
        margin-top: 0;
    }

    .cart-template-detail{
        width: 40%;
        height: 50%;
        margin-top: 0;
    }

    .cart-title h1{
        font-size: 1.5em;
        margin-bottom: 10px;
    }

}