*{
    box-sizing: border-box; 
 }
 
 img{
     width: 100%;
     
 }
 
 header{
     background-color:var(--rosa);
     
 }
 /*****************************
           HEADER
 ******************************/
 body{
     font-family: 'Quicksand', sans-serif;
     font-size: 14px;
     margin: 0;
 }
 
 
 /*****************************
 BARRA ENTRE EL HEADER Y EL MAIN
 ******************************/
 .space-between-header-main{
     background-color: var(--grisClaro);
     height: 5px;
 }

 /*############################### LINEA DIVISORA ENTRE EL ENCABEZADO Y EL CUERPO  #########################*/
main{
    margin-top: 150px;
}

/*CONTIENE TODOS LOS ELEMENTOS DEL CUERPO*/
.container{
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    height: 450px;
    margin-top: 100px;
}
/*TEXTO DEL LOGIN*/
h3{
    text-align: center;
    position: relative;
}
/*LINEA INFERIOR DEL LOGIN*/
hr{
    width: 15%;
    position: relative;
}
/*CONTIENE LAS CAJAS USUARIO Y CONTRASEÑA*/
.caja-datos{
    width: 90%;
    height: 160px;
    padding: 10px;
    margin: auto;
}

.individual-box{
    margin-bottom: 10px;
}

/*FORMULARIOS USUARIO CONTRASEÑA*/
input[id="email"],
input[id="password"]
{
    font-size: 14px;
    width: 100%;
    height: 35px;
    padding: 10px;
    border: solid 1px #B0B3AF;
    background-color: #F8F4F4;
    border-radius: 3px;
    margin-top: 20px;
}
/*CAJA CONTENEDORA DEL BOTON ENVIAR*/
.caja-botonenviar{
    width: 40%;
    padding: 10px;
    margin: auto;
}
/*BOTON ENVIAR*/
.boton-enviar{
    border: none;
    width: 100%;
    color: white;
    font-size: 15px;
    background: #edafa4;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 40px;
}
/*MANITO CUANDO PASAS SOBRE EL BOTON ENVIAR*/
.boton-enviar:hover{
    background-color: var(--marron);
    color: var(--rosa);
    font-weight: 500;
    transition: all 1s;
}
/*CAJA CONTENEDORA RECUERDAME*/
.minicaja{
    width: 40%;
    height: 50px;
    margin: auto;
    position: absolute;
    display: inline-block;
    padding-left: 5px;
    font-size: 14px;
    margin-top: 10px;
}
/*PARRAFOS OLVIDASTE TU CONTRASEÑA Y NO TIENES UNA CUENTA*/
.caja-parrafos{
    width: 100%;
    color: solid black;
    font-size: 12px;
    margin: auto;
    padding:5px;
}
/*PARRAFO OLVIDASTE TU CONTRASEÑA*/
.olvidaste{
    text-align:center;
}
/*LINK DEL REGISTRATE*/
.link{
    text-decoration: none;
    color: black;
    font-weight: bold;   
}
/*P DE NO TIENES UNA CUENTA?*/
.registrate{
    width: 100%;
    height: 40px;
    margin: auto;
    font-size: 12px;
    text-align: center;
}
/*TEXTOS VALIDACIONES*/
.text-danger{
    font-size: 18px;
    color: red;
    font-weight: 600;
    font-size: 12px;

}

/*ESTILOS PARA VALIDACIONES*/
.is-valid {
    color: #198754;
  }
  
  .is-invalid {
    color: red;
    font-weight: 600;
  }
  
  .warning{
    color:#842029;
    background-color: #F8D7DA;
    text-align: center;
    border-radius: 5px;
    width: 70%;
    margin: auto;
    font-weight: 600;
  }

/*============================== MEDIA QUERIES ===============================*/

@media (min-width:481px){

    hr{
        width: 5%;
        position: relative;
    }
    .container{
        margin-top: 120px;
    }
    /*CONTIENE LAS CAJAS USUARIO Y CONTRASEÑA*/   
    .caja-datos{
        width: 40%;
    }
    /*FORMULARIOS*/
    input[id="email"],
    input[id="password"]
    {
        font-size: 14px;
        height: 40px; 
    }
    /*CAJA CONTENEDORA DEL BOTON ENVIAR*/
    .caja-botonenviar{
        width: 30%;
        padding: 10px;
        margin: auto;
    }
    /*BOTON ENVIAR*/
    .boton-enviar{
        font-size: 15px;
    }
    /*TEXTOS VALIDACIONES*/
    .text-danger{
        font-size: 14px;
    }
}

@media (min-width:769px){

    main{
        margin-top: 220px;
    }

    hr{
        width: 4%;
        position: relative;
    }
    /*CONTIENE LAS CAJAS USUARIO Y CONTRASEÑA*/
    .container{
    margin-bottom: 50px;
    }
    /*CONTIENE LAS CAJAS USUARIO Y CONTRASEÑA*/
    .caja-datos{
        width: 30%;
    }
    /*PARRAFOS OLVIDASTE TU CONTRASEÑA Y NO TIENES UNA CUENTA*/
    .caja-parrafos{
        padding: 0px;
    }
    /*FORMULARIOS*/
    input[id="email"],
    input[id="password"]
    {
        font-size: 16px;
        height: 45px;
    }
    /*CAJA CONTENEDORA DEL BOTON ENVIAR*/
    .caja-botonenviar{
        width: 20%;
        padding: 10px;
        margin: auto;
        margin-top: 50px;
    }
    /*CAJA CONTENEDORA RECUERDAME*/
    .minicaja{
        margin-top: 20px;
    }
}



