* {
    box-sizing: border-box;
    
}

body{
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*****************************
BARRA ENTRE EL HEADER Y EL MAIN
******************************/
.space-between-header-main{
    background-color: var(--grisClaro);
    height: 4px;
}


/*=======================================  PRINCIPIO DEL CARRUSEL ===================================*/

/*CONTENEDOR TODA LA LISTA*/
.slider{
    width: 100%;
    padding: 0;
    margin: auto;  
    overflow: hidden;
    margin-top: 95px;
}
.slider ul{
    padding: 0;
    display: flex;
    width: 400%;
  
    animation: cambio 20s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.slider li{
    list-style-type: none;
    width: 100%;
}
.slider img{
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/*=============================== TERMINA EL CARRUSEL ===============================*/
p{
    font-weight: 600;
}

.copy {
    margin-left: 20px;
    color: #edafa4;
}

.frase{
    margin-left: 15px;
    font-weight: 600;
    font-size: 16px;
}

.autora-frase {
    text-align: end;
    margin-right: 39px;
}

main {
   /*  display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: center;
    color: gray;
}



/*ETIQUETA SECTION CLASE DESTACADOS*/
/*.destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productos-destacados{
    text-align: center;
}
*/

.producto-destacado {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0.5px 0.5px 4px 1px #edafa4;
}

.producto-destacado img {
    width: 100%;
}

.articulo-pie {
    display: flex;
    flex-direction: column;
}

.nombre-planta {
    font-size: 22px;
}

.nombre-cienti {
    font-size: 16px;
    font-style: italic;
}
.precio {
    color: black;
}

.dos-articulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.div-img{
    width: 100%;
    height: 400px;
}




/*ANTES DEL FOOTER*/
.container-ultimo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.camion-envio,
.pago-en-linea,
.cambios,
.compra-segura{
    width: 25%;
}

.icon{
    margin: auto;
    width: 20px;
    height: 20px;
}


.container-ultimo p {
    font-size: 16px;
}



@media (min-width:481px) {
    
    .producto-destacado {
        width: 45%;
        
    }
    .dos-articulos {
        display: flex;
        flex-direction: row;
    }
 
    .autora-frase {
        text-align: end;
        margin-right: 200px;
    }
    .container-ultimo {
        margin: 30px;
    }
    .container-ultimo p {
        font-size: 18px;
    }
    .container-ultimo img {
        width: 20px;
    }
    .pago-texto {
        margin-top: 11px;
    }
}



@media (min-width:769px) {

    .producto-destacado {
        width: 22%;
    }

    /* .cuatro-articulos {
        display: flex;
    }    
    .dos-articulos {
        display:contents;
    } */
}
