<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Checkout</title>
    <link rel="stylesheet" href="/css/styles-checkout.css">
   <!--==================================================
        Iconos Fontawesome
    ===================================================-->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>
</head>

<body>
      <!--HEADER-->
      <%- include('../partials/header') %>

    <div class="space-between-header-main">
    </div>
    <!----------------- MAIN ------------------->


    <main>

        <div class="title-checkout">
            <h3>Checkout</h3>
        </div>


        <div>
            <div class="info-contact">
                <p>Información de contacto:</p>
            </div>

            <div class="individual-box2">
                <input type="email" name="user box" placeholder="E-mail:">
            </div>

            <div class="account">
                <p>¿Ya tienes una cuenta?</p>
            </div>
            <div class="login3">
                <a href="#" continuar="continuar">Login</a>
            </div>
            <div class="container">

                <form autocomplete="on">
                    <div>
                        <div class="method-delivery">
                            <p>Metodo de envio</p>
                        </div>

                        <div class="deli-box">

                            <div class="input-delivery">
                                <input type="radio" id="Delivery" name="drone" value="Delivery" checked>
                                <label for="delivery"><i class="fas fa-truck"></i> Delivery</label>
                                <input type="radio" id="Retiro en tienda" name="drone" value="Retiro en tienda">
                                <label for="retiro-en-tienda"><i class="fas fa-store"></i> Retiro en tienda</label>
                            </div>

                        </div>

                        <div class="address-delivery">
                            <p>Dirección de envío:</p>
                        </div>
                        <div class="individual-box">
                            <input type="name" name="nombre" placeholder="Nombre:">
                        </div>
                        <div class="individual-box">
                            <input type="last-name" name="apellido" placeholder="Apellido:">
                        </div>
                        <div class="individual-box">
                            <input type="address" name="direccion" placeholder="Dirección:">
                        </div>
                        <!-- <div class="individual-box">
                        <input type="country" name="país" placeholder="País:"> -->
                        <div class="form-list">
                            <form>
                                <label for="country">País: </label>
                                <select name="paises" id="countrys">
                              <option value="argentina">Argentina</option>
                              <option value="venezuela">Venezuela</option>
                              <option value="colombia">Colombia</option>
                              <option value="bolivia">Bolivía</option>
                            </select>
                            </form>
                        </div>

                        <div class="individual-box">
                            <input type="city" name="Ciudad" placeholder="Ciudad:">
                        </div>
                        <div class="individual-box">
                            <input type="cp" name="cp" placeholder="Codigo Postal:">
                        </div>
                        <div class="individual-box">
                            <input type="phone" name="telefono" placeholder="Télefono:">
                        </div>
                    </div>

                </form>
            </div>

            <div class="cart-detail">
                <h3>Detalle de la compra</h3>
            </div>

            <div class="content">
                <div class="items">
                    <div class="items-img">
                        <img src="/img/IMG_4795-2_2048x2048.jpg" alt="" srcset="">
                    </div>
                    <div class="items-desc">
                        <div>
                            <p><strong>Homalomena 'Selby'
                        </strong></p>
                        </div>
                        <div>
                            <p><strong>$1.250,25</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="totales">
                <div class="total">
                    <div class="subtotal">
                        <!-- <hr> -->
                        <h2>Subtotal:</h2>
                        <!-- <hr> -->
                    </div>
                    <div class="cost_delivery">
                        <!-- <hr> -->
                        <h2>Costo de envio:</h2>
                        <!-- <hr> -->
                    </div>
                    <div class="total_final">
                        <!-- <hr> -->
                        <h2>Total:</h2>
                        <!-- <hr> -->
                    </div>
                </div>
            </div>
            <div>
                <button class="box-send">Comprar</button>
                <button class="box-send1">Regresar</button>
            </div>
        </div>
    </main>

      <!-- FOOTER -->
      <%- include('../partials/footer') %>
</body>

</html>