<!DOCTYPE html>
<html lang="en">

<!--==========================
            HEAD
============================-->

<head>
    <%- include('../partials/head') %>
   <title>Carrito</title>
    <!--Enlazando con el css styles_products-->
    <link rel="stylesheet" href="/css/styles-cart.css">
</head>

<!--==========================
            BODY
============================-->

<body>
    <!------HEADER------>
    <%- include('../partials/header') %>


    <!--==========================
           MAIN
============================-->
    <main>

        <div>
            <h1 style="text-align: center;">Tu Carrito</h1>
        </div>
        <div class="actualizar">
            <a href="#" continuar="continuar">Actualizar carrito | Continuar comprando</a>
        </div>
        <div class="content">
            <div class="items">
                <div class="items-img">
                    <img src="/img/IMG_4795-2_2048x2048.jpg" alt="" srcset="">
                </div>
                <div class="items-desc">
                    <div>
                        <p>Homalomena 'Selby'</p>
                    </div>
                    <!-- <div>
                        <p>6"</p>
                    </div> -->
                    <div class="cost">
                        <p>$1.250,25</p>
                    </div>
                </div>
            </div>
            <div class="amount">
                <div class="amount-button">
                    <div class="amount-group">
                        <button>-</button>
                        <input type="text" value="1">
                        <button>+</button>
                    </div>
                </div>
                <div class="close">
                    <div>
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="subtotal">
            <hr>
            <h2>Subtotal:</h2>
            <hr>
        </div>

        <div class="subtotal_final">
            <h2>$1.250,25</h2>
        </div>

        <div class="instrucciones">
            <h2>Escribe alguna instrucción al vendedor:</h2>
        </div>
        <div class="area-boton">
            <div class="textarea">
                <textarea name="textarea" rows="10" cols="36">...</textarea>
            </div>
            <!-- <div class="carrito-comprar"> -->
            <button class="comprar">Comprar</button>
            <!-- </div> -->
        </div>

    </main>

      <!-- FOOTER -->
      <%- include('../partials/footer') %>
</body>

</html>