<header class="main-header">
    <div class="main-header-top-bar">
        <div class="main-header-div">
            <div class="div-main-logo">
               <a href="/"> <img src="/img/sunflowerLogo.png" alt="logo sunflower"> </a>
            </div>
             <!--==========================
                    MENÚ NAVEGACIÓN
              ============================-->
            <nav class="main-navbar">
                <ul> 
                    <li> <a href="/">Inicio</a> </li>
                    <li> <a href="/products">Productos</a> </li>
                    <li> <a href="/about">Acerca de nosotros</a> </li>
                </ul>
            </nav>

            <div class="div-main-iconos">
                <div class="main-div-search">
                        <div class="div-search"> 
                            <form action="/search" method="POST" >   
                                <div class="div-main-busqueda">
                                    <input class="input-busqueda" type="search" name="busqueda" placeholder="¿Qué estás buscando?" ></input>
                                    <button type="submit" class="ilupa"><i class="fas fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                </div>
                <div class="div-secundario-iconos">
                    <div class="login">
                        <a href="/login" >
                            <i class="fas fa-user"></i>
                        </a>
                    </div>
                    <div class="carrito">
                        <a href="/cart">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    <div class="hamburguer-buttom">
                        <a href="" >
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    
</header>
