<!DOCTYPE html>
<html lang="en">

<!--==========================
            HEAD
============================-->
<head>
    <%-include('../partials/head') %>

    <title>Products</title>
    <!--Enlazando con el css styles_products-->
    <link rel="stylesheet" href="/css/styles-login.css">
</head>

<!--==========================
            BODY
============================-->
<body>
    <!-----HEADER------>
    <%- include('../partials/header') %>

   <!--==========================
       BORDE ENTRE HEADER Y MAIN
    ============================-->      

    <div class="space-between-header-main">

    </div>


<!--############################# LINEA DIVISORA ENTRE EL ENCABEZADO Y EL CUERPO ##############################-->

    <main>
<!--CONTIENE TODOS LOS ELEMENTOS DEL CUERPO-->
        <div class="container">
            <!--TEXTO DEL LOGIN-->
            <h3>LOGIN</h3>
            <!--LINEA INFERIOR DEL LOGIN-->
                <hr color="#edafa4">
            <form autocomplete="on">
                <!--CONTIENE LAS CAJAS USUARIO Y CONTRASEÑA-->
                <div class="caja-datos">
                    <div class="individual-box">
                        <input type="name" name="user box" placeholder="Nombre de usuario" required>
                    </div>
                    <div class="individual-box">   
                        <input type="password" minlength="4" maxlength="8" name="password box" placeholder="Contraseña" required>
                    </div>
                    <!--CAJA CONTENEDORA RECUERDAME-->
                    <div class="minicaja">
                        <input id="minibox" type="checkbox" name="minibox">
                        <label for="minibox">Recuérdame</label>
                    </div>
                </div>
                <!--CAJA CONTENEDORA DEL BOTON ENVIAR-->
                    <div class="caja-botonenviar">
                        <input type="submit" value="Enviar" class="boton-enviar">
                </div>
            </form>
            <!--PARRAFOS OLVIDASTE TU CONTRASEÑA Y NO TIENES UNA CUENTA-->
                <div class="caja-parrafos">
                    <p class="olvidaste"><a class="link" href="#">¿Olvidaste tu contraseña?</a></p>
                    <p class="registrate">¿No tienes una cuenta?, <a class="link" href="/register">Regístrate</a></p>
                </div>
        </div>
    </main>

<!--############################# LINEA DIVISORA ENTRE EL CUERPO Y EL FOOTER ##############################-->

      <!-----FOOTER----->
      <%- include('../partials/footer') %>
      
</body>   
</html>v