<!DOCTYPE html>
<html lang="en">

<!--==========================
            HEAD
============================-->
<head>
    <title>Products</title>
    <%-include('../partials/head') %>

    <!--Enlazando con el css styles_products-->
    <link rel="stylesheet" href="/css/styles-register.css">
</head>

<!--==========================
            BODY
============================-->
<body>
    <%- include('../partials/header') %>

   <!--==========================
       BORDE ENTRE HEADER Y MAIN
    ============================-->      

    <div class="space-between-header-main">
    </div>

<!--############################# LINEA DIVISORA ENTRE EL ENCABEZADO Y EL CUERPO ##############################--> 
    <main>
<!--CONTENEDOR DE TODOS LOS ELEMENTOS DE CUERPO-->
        <div class="container">
            <h3>REGÍSTRATE</h3>
                <hr color="#edafa4">
            <form action="" method="" autocomplete="on">
                <!--CONTENEDOR FORMULARIO-->
                <div class="caja-datos">
                    <div class="individual-box">
                        <input type="name" name="user box" placeholder="Nombre" required>
                    </div>
                    <div class="individual-box">   
                        <input type="surname" name="surname box" placeholder="Apellido" required>
                    </div>
                    <div class="individual-box">   
                        <input type="email" name="email box" placeholder="E-mail" required>
                    </div>
                    <div class="individual-box">
                        <input type="phone" name="phone box" placeholder="Teléfono">
                    </div>
                    <div class="individual-box">   
                        <input type="password" minlength="4" maxlength="8" name="password box" placeholder="Contraseña" required>
                    </div>
                    <div class="individual-box">
                        <input type="password" minlength="4" maxlength="8" name="confirm password box" placeholder="Confirmar contraseña" required>
                    </div>
                </div>
                <div class="caja-botonenviar">
                    <input type="submit" value="Enviar" class="boton-enviar">
                </div>
            </form>
        </div>
    </main>
<!--############################# LINEA DIVISORA ENTRE EL CUERPO Y EL FOOTER ##############################-->

    <!-- FOOTER -->
    <%- include('../partials/footer') %>

</body>
</html>
    </body>   
    </html>