<!DOCTYPE html>
<html lang="en">

<!--==========================
            HEAD
============================-->
<head>
    <title>Products</title>
    <%-include('../partials/head') %>

    <!--Enlazando con el css styles_products-->
    <link rel="stylesheet" href="/css/styles-register.css">
</head>

<!--==========================
            BODY
============================-->
<body>
    <%- include('../partials/header') %>

   <!--==========================
       BORDE ENTRE HEADER Y MAIN
    ============================-->      

    <div class="space-between-header-main">
    </div>

<!--############################# LINEA DIVISORA ENTRE EL ENCABEZADO Y EL CUERPO ##############################--> 
    <main>
<!--CONTENEDOR DE TODOS LOS ELEMENTOS DE CUERPO-->
        <div class="container">
            <h3>REGÍSTRATE</h3>
                <hr color="#edafa4">
            <form action="" method="" autocomplete="on">
                <!--CONTENEDOR FORMULARIO-->
                <div class="caja-datos">
                    <div class="individual-box">
                        <input type="name" name="user box" placeholder="Nombre" required>
                    </div>
                    <div class="individual-box">   
                        <input type="surname" name="surname box" placeholder="Apellido" required>
                    </div>
                    <div class="individual-box">   
                        <input type="email" name="email box" placeholder="E-mail" required>
                    </div>
                    <div class="individual-box">
                        <input type="phone" name="phone box" placeholder="Teléfono">
                    </div>
                    <div class="individual-box">   
                        <input type="password" minlength="4" maxlength="8" name="password box" placeholder="Contraseña" required>
                    </div>
                    <div class="individual-box">
                        <input type="password" minlength="4" maxlength="8" name="confirm password box" placeholder="Confirmar contraseña" required>
                    </div>
                    <div class="individual-box">
                        <label for="Category" class="etiqueta-tUsuario">Tipo de usuario:</label>
                        <select name="Category" id="Category" class="form-categoria">
                            <option value="tipo-usuario">Usuario</option>
                            <option value="tipo-superusuario">Superusuario</option>
                            <option value="tipo-administrador">Administrador</option>
                        </select>
                    </div>
                </div>

    <!--BOTON AGREGAR AVATAR-->
    <div class="formulImg">
        <h2>Imagen de perfil</h2>
        <div class="grid">
          <div class="form-element">
            <input type="file" id="file-1" accept="image/*">
            <label for="file-1" id="file-1-preview">
              <img src="/img/upload-image.png" alt="">
              <div>
                <span>+</span>
              </div>
            </label>
          </div>
        </div>
    </div>

                <div class="caja-botonenviar">
                    <input type="submit" value="Enviar" class="boton-enviar">
                </div>
            </form>
        </div>
    </main>

<!--SECCION JS-->
<script>
    function previewBeforeUpload(id){
    document.querySelector("#"+id).addEventListener("change",function(e){
      if(e.target.files.length == 0){
        return;
      }
      let file = e.target.files[0];
      let url = URL.createObjectURL(file);
      document.querySelector("#"+id+"-preview div").innerText = file.name;
      document.querySelector("#"+id+"-preview img").src = url;
    });
  }
  
  previewBeforeUpload("file-1");
  </script>

<!--############################# LINEA DIVISORA ENTRE EL CUERPO Y EL FOOTER ##############################-->

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
</body>
</html>
    </body>   
    </html>