<!DOCTYPE html>
<html lang="en">

<!--==========================
            HEAD
============================-->
    <%-include('../partials/head', {title:"Users", style:"styles-users"}) %>


<!--==========================
            BODY
============================-->
<body>
    <!-----HEADER------>
    <%- include('../partials/header') %>

   <!--==========================
       BORDE ENTRE HEADER Y MAIN
    ============================-->      

    <div class="space-between-header-main">

    </div>


<!--############################# LINEA DIVISORA ENTRE EL ENCABEZADO Y EL CUERPO ##############################-->

    <main>

  <h2>Mis datos</h2>
 <!--LINEA INFERIOR MIS DATOS-->
  <hr color="#edafa4">
    <section>
      <div class="cajaPrincipal">
          <form action="" method="get">
            <p class="datosCta">Datos de la cuenta</p>
            <p class="avatar">Avatar</p>
              <!--BOTON IMAGEN-->
              <div class="formulImg">
                <div class="grid">
                  <div class="form-element">
                    <input type="file" id="file-1" accept="image/*" value="" name="imageEdited1">
                      <label for="file-1" id="file-1-preview">
                        <img src="/img/upload-image.png" alt="">
                          <div>
                          </div>
                      </label>
                    </div>
                </div>
              </div>
              <div class="cajaMail">
                <label for="email" class="labelMail">Email</label>
                  <input type="text" id="email" name="email" class="form-cajaMail" value="">
              </div>
              <p class="datosPerso">Datos personales</p>
                <div class="cajaNombre">
                  <label for="name" class="labelNombre">Nombre</label>
                    <input type="text" id="name" name="name" class="form-cajaNombre" value="">
                </div>
                <div class="cajaApellido">
                  <label for="last-name" class="labelApellido">Apellido</label>
                    <input type="text" id="last-name" name="last name" class="form-cajaApellido" value="">
                </div>
                <div class="cajaTelefono">
                  <label for="phone" class="labelTelefono">Teléfono</label>
                    <input type="text" id="phone" name="phone" class="form-cajaTelefono" value="">
                </div>
                <div class="cajaContras">
                  <label for="password" class="labelContras">Contraseña</label>
                    <input type="text" id="password" name="password" class="form-cajaContras" value="">
                </div>
                <div class="cajaDirec">
                  <label for="address" class="labelDirec">Domicilio</label>
                    <input type="text" id="address" name="address" class="form-cajaDirec" value="">
                </div>
                 <!--BOTON-->
          <div class="cajaGuardar">
            <p id="texto">Guardar cambios</p>
            <button type="submit" class="botonGuardar" onclick="return confirmar()"></button>
          </div>
          </form>
      </div>
    </section>
</main>

<script>
    function previewBeforeUpload(id){
    document.querySelector("#"+id).addEventListener("change",function(e){
      if(e.target.files.length == 0){
        return;
      }
      let file = e.target.files[0];
      let url = URL.createObjectURL(file);
      document.querySelector("#"+id+"-preview div").innerText = file.name;
      document.querySelector("#"+id+"-preview img").src = url;
    });
  }
 
  previewBeforeUpload("file-1");

  function confirmar(){
    let respuesta = confirm("Esta seguro que desea guardar los cambios?");
    if (respuesta == true){
        return true;
    }else{
        return false;
    }
}
  </script>

      <!-- FOOTER -->
    <%- include('../partials/footer') %>
</body>
</html>